.content-container {
  max-width: 40rem;
  text-align: center;
  margin: auto;
  margin-top: 10rem;
  padding: 2rem;
}

.home-page-btn {
  background-color: var(--primary-color);
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 1rem;
  color: var(--white);
  font-weight: bold;
  font-size: 1.2rem;
}

.home-page-btn:hover {
  background-color: var(--highlight-color);
}

.home-page-description {
  padding-bottom: 1rem;
  font-size: 1.5rem;
}
.home-page-heading {
  color: var(--primary-color);
  font-size: 3rem;
  margin: 0rem;
}
